body{
  
  width: 100vw;
  height: 100vh;

  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.box{
  margin: auto;
  border: 2px solid rgb(28, 29, 28);
  display: flex;
  height: 40vh;
  
  justify-content: space-evenly;
  padding: 50px;
  flex-direction: column;
  
}

.inp{

}